.login{
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('./assets/bike.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  align-items: center;
 
}

.loginTitle{
  font-size: 50px;
  color: white;
}
.loginForm{
  width: 20vw;
  display: flex;
  flex-direction: column;
  border: solid grey;
  border-radius: 5px;
  padding: 20px;
}

.loginForm label {
  margin: 5px 0;
}

.loginInput{
  padding: 10px;
  background-color: #fff;
  border: none;
}

.inputLabel{
  color:white;
  font-family: 'Josefin Sans', sans-serif;
}
.loginButton{
  margin: 20px 0;
  border:none;
  border-radius:5px;
  background-color: rgb(153, 146, 146);
  color: white;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  padding: 10px;
}

.loginRegisterButton{
  margin-top: 20px;
  border:none;
  border-radius:5px;
  background-color: teal;
  color: white;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  padding: 10px;
  cursor: pointer;
}